:root {
  --first-color: #6c63ff;
  --second-color: #f5f2fe;
  --box-shadow: 5px 5px 5px rgba(108, 99, 295, 0.8);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 0px auto;
  max-width: 1100px;
}

.logo{
	max-height: 50px;
}

h1 {
  font-size: 48px;
  margin-top: 75px;
  text-align: center;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-weight: bold;
  font-family: var(--default-font-family);
}

h2,
h3 {
  margin: 0px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.links a {
  margin: 20px;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.about-history {
  display: flex;
  margin: 25px 0;
}

.about-history p {
  margin: 10px;
}

p {
  background: var(--second-color);
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border-radius: 5px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--first-color);
  font-size: 25px;
}

.launch-link {
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 15px 0 0 0;
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

.col-sm-6 h1,
p {
  text-align: left;
  margin: 0 0 20px 0;
  padding: 0;
  background: none;
}

.about-describe {
  margin-top: 20px;
}

.about {
  margin-top: 100px;
}

.mt-5 {
  margin-top: 130px;
}

footer {
  margin: 60px 0;
}

footer .social-links {
  margin: 0 20px;
  color: var(--first-color);
  background: var(--second-color);
  padding:10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;;
}

footer .social-links a{
	margin:15px 15px;
}
footer .social-links a:hover{
	color:white;
	background: var(--first-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 44;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 20px;
  }
  .launch-link {
    margin-bottom: 20px;
  }
  .about-describe {
    padding:10px;
  }
}
